body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f3ef;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  max-width: 700px;
  margin: 30px auto;
}

.cell {
  background: white;
  border: 2px solid #222;
  min-height: 110px;
  padding: 10px;
  cursor: pointer;
}

.cell.done {
  background: #d5ffd5;
  text-decoration: line-through;
}
